<header>
    <div class="container">
        <a routerLink="/" class="logo">Food Mine!</a>
        <div class="function">
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Huy</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/order">Order</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page"> Cart<span>3</span> </a>
                </li>
            </ul>
        </div>
    </div>
</header>
